<html>
<head>
<title>{{ atm.error.site_title }} - {{ atm.error.code }}</title>
<meta charset="UTF-8"/>
<style type="text/css">
.errorblock {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 150px;
    max-width: 100%;
    max-height: 100%;
    color: #AAA;
    font-family: Arial, sans-serif;
    text-align: center;
}
.errorblock .title {color: #333;font-size: 30px;}
.errorblock .text {font-size: 20px;margin-top: 40px;}
</style>
</head>
<body>
<div class="errorblock">
      <div class="title">Извините, но вам запрещен доступ на этот сайт.</div>
      <div class="text">Дождитесь окончания бана или обратитесь к администрации</div>
</div>
</body>
</html>
