{% extends "main.html.twig" %}

{% block content %}

<div class="material">
      <div class="mat-title"><a href="{{ atm.entity.entry_url }}"><h1>{{ atm.entity.title }}</h1></a><div class="mod-panel">{% include "includes/moder_panel.html.twig" %}</div></div>
	  <div class="mat-content">
		    <div class="main_text margin">{{ atm.entity.main_text | raw }}</div>
            <div class="infomats">
		        <div class="namesmats"><b class="title">{{ atm.entity.title }}</b>
				<br />
				{% if atm.entity.tags %}
				<br /><b>Теги: </b>{% for tag in atm.entity.tags %}<a href="{{ atm.www_root | raw }}/stat/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
				{% endif %}
				{% if atm.entity.sourse %}<br /><b>Источник:</b> {{ atm.entity.sourse }}{% endif %}
                
                {% if atm.entity.attaches_list and atm.context.locked_attaches == 0 %}
                  <br />
                  <div class="attaches">
				  <div>Прикрепленные файлы:</div>
                      {% if atm.checkAccess([atm.module,'download_files']) %}
                          {% for file in atm.entity.attaches_list %}
                            <a href="{{ file.url }}">{{ file.name }} ({{ file.size }})</a><br/>
                          {% endfor %}
                      {% else %}
                      У вас нет прав для скачивания прикрепленных файлов
                      {% endif %}
                  </div>
                {% endif %}
                
				</div>
		        <div class="infomatsright">
			      <b>Автор:</b><a href="{{ atm.entity.profile_url }}"> {{ atm.entity.author.name }}</a>
				  <br /><b>Категория:</b> {% for index, category in atm.entity.categories %}{% if index > 0 %},{% endif %}<a href="{{ category.url }}">{{ category.title }}</a>{% endfor %}
			      <br /><b>Просмотров:</b> {{ atm.entity.views }}
				  {% if atm.entity.commented %}<br /><b>Комментариев:</b> {{ atm.entity.comments | raw }}{% endif %}
				  <br />
				  <br /><script language="JavaScript" type="text/javascript" src="{{ atm.template_path }}/js/share.js"></script>
			    </div>
	        </div>
      </div>
</div>
{{ relmat }}




{% include 'default/viewcomment.html.twig' %}
{% include 'default/addcommentform.html.twig' %}
{% endblock %}