{% extends "main.html.twig" %}

{% block content %}

	<form name="editForumForm" id="editForumForm" action="{{ atm.context.action }}" method="POST" onsubmit="sendu(this); return false">
	<div class="material">
		  <div class="mat-title">Редактирование форума</div>
		  <div class="mat-content">
			  <ul class="spisok-all">
			  <li>
				<span class="siu_title"><strong>Название форума:</strong></span>
				<span class="siu_data"><input type="text" name="title" value="{{ atm.context.title }}" maxlength="120" /></span>

				<span class="siu_title"><strong>Описание форума:</strong></span>
				<span class="siu_data"><textarea name="description" maxlength="250">{{ atm.context.description }}</textarea></span>
			  </li>
			  <li>
				<input type="submit" name="sendForm" value="Сохранить" />
			  </li>
			  </ul>
		  </div>
	</div>
	</form>

{% endblock %}