<div class="material">
	        <div class="inftitle">Статистика форума</div>
	   <div class="infcont">
	        Всего создано <b>{{ atm.count_themes }}</b> тем, в которые добавлено <b>{{ atm.count_posts }}</b> ответов.<br>Зарегистрировано <b>{{ atm.count_users }}</b> участников. Приветствуем нового участника <b>{{ atm.new_user | raw }}</b>.
			{% if atm.config(['statistics','active']) %}
			<br />
			Максимум пользователей online <strong>{{ atm.max_online_all_time }}</strong>. Было это <strong>{{ atm.max_online_all_time_date | adate }}</strong>
			{% endif %}
	   </div>
	       <div class="inftitle">Сегодня родились: {{ atm.today_born_users }}</div>
</div>

