<div class="lineblock">
	  <div class="linetitle"><h1>{{ atm.context.forum_name }}</h1></div>
	  <div class="linehead order"><div class="forstatus"></div><div class="forname">{{ atm.getOrderLink(['title','Тема']) | raw }}</div><div class="forteme">{{ atm.getOrderLink(['posts','Ответы']) | raw }} / {{ atm.getOrderLink(['views','Просмотры']) | raw }}</div><div class="fornewmess">{{ atm.getOrderLink(['last_post','Обновления']) | raw }}</div></div>
      {% if atm.themes %}
	  {% for theme in atm.themes %}  
	  <div class="linecontent {{ theme.atm_css_class }}"><div class="forstatus"><span>{{ theme.themeicon | raw }}</span></div><div class="forname"><div class="mozilacostil">{% if theme.adminbar %}<div class="moderline">{{ theme.adminbar }}</div>{% endif %}<div class="lineinfo">{{ theme.importantly }}<a class="namefor" href="{{ theme.theme_url }}"><h2>{{ theme.title }}</h2></a>[{{ theme.parent_forum }}]{{ theme.near_pages }}<div class="fordescription">{{ theme.description }}</div></div></div></div>
	  <div class="forteme">
		<ul>
			<li>Ответов: <strong>{{ theme.posts }}</strong></li>
			<li>Просмотров: <strong>{{ theme.views }}</strong></li>
			<li>Автор: <strong>{{ theme.author.name }}</strong></li>
		</ul>
		</div>
	  <div class="fornewmess">{{ theme.last_post | adate }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user | raw }}</span><br />{{ theme.last_page | raw }}</div></div>
	  {% endfor %}
	  {% else %}
	  <div class="linecontent">Тем еще не создано.</div>
	  {% endif %}
</div>