{# Является ли пользователь автором материала #}
{% if atm.user.id != 0 and atm.user.id == atm.theme.id_author %}
    {% set is_owner = 1 %}
{% else %}
    {% set is_owner = 0 %}
{% endif %}

{# Идентификатор форума #}
{% set forum_id = atm.theme.id_forum %}

{# Идентификатор темы #}
{% set theme_id = atm.theme.id %}

{# Просмотр темы #}
{% if atm.checkAccessForum(['view_themes', forum_id]) and ((atm.checkAccessForum(['edit_themes',forum_id]) or (is_owner and atm.checkAccessForum(['edit_mine_themes',forum_id]))) or (atm.checkAccessForum(['delete_themes',forum_id]) or (is_owner and atm.checkAccessForum(['delete_mine_themes',forum_id])))) %}
    <div id="theme_modbar"><div id="theme_modbar_buttom"></div><ul id="theme_modbar_list">
    {# Редактирование #}
    {% if atm.checkAccessForum(['edit_themes',forum_id]) or (is_owner and atm.checkAccessForum(['edit_mine_themes',forum_id])) %}
        <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/edit_theme/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Edit theme') }}</a></li>
    {% endif %}

    {# Работа с сообщениями #}
    {% if atm.checkAccessForum(['edit_themes',forum_id]) %}
        <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/move_posts/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Move posts') }}</a></li>
        {# Добавление #}
        {% if atm.checkAccessForum(['add_themes',forum_id]) %}
            <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/split_theme/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Split theme') }}</a></li>
        {% endif %}
        <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/unite_themes/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Unite themes') }}</a></li>
    {% endif %}

    {# Заблокировать/разблокировать тему #}
    {% if atm.checkAccessForum(['close_themes',forum_id]) %}
        {% if atm.theme.locked == 0 %}
            <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/lock_theme/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Lock theme') }}</a></li>
        {% else %}
            <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/unlock_theme/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Unlock theme') }}</a></li>
        {% endif %}
    {% endif %}

    {# Закрепить/открепить тему #}
    {% if atm.checkAccessForum(['important_themes',forum_id]) %}
        {% if atm.theme.important == 1 %}
            <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/unimportant/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Unimportant theme') }}</a></li>
        {% else %}
            <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/important/{{ theme_id }}" onClick="sendu(this); return false">{{ atm.__('Important theme') }}</a></li>
        {% endif %}
    {% endif %}

    {# Удаление #}
    {% if atm.checkAccessForum(['delete_themes',forum_id]) or (is_owner and atm.checkAccessForum(['delete_mine_themes',forum_id])) %}
        <li><a href="{{ atm.www_root | raw }}/{{ atm.module }}/delete_theme/{{ theme_id }}" onClick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu(this)}; return false;">{{ atm.__('Delete theme') }}</a></li>
    {% endif %}
    </ul></div>
{% endif %}
