{% if atm.entity.commented == 0 %}
    <div class="not-auth-mess locked">{{ atm.__('Comments for this article are disabled') }}</div>
{% endif %}

{% if atm.comments_form.access == 1 %}

    {{ atm.editor_body | raw }}
    <div class="material addcomment">
        <form method="POST" id="sendForm" name="sendForm" action="{{ atm.comments_form.action }}" onsubmit="sendu(this);return false;">
            <div class="inftitle">Добавление комментария</div>
            <div class="mat-content">
                <ul class="spisok-all">
                    <input type="text" name="reply" value="{{ atm.comments_form.reply }}" style="display: none" />
                    {% if atm.user.id == 0 %}
                        <li>
                            <span class="siu_title"><strong><font color="red">*</font>Псевдоним:</strong></span>
                            <span class="siu_data"><input {{ atm.comments_form.disabled }} type="text" name="login" size="47" value="{{ atm.comments_form.add_comment_name }}" /></span>
                        </li>
                    {% endif %}
                    {% if atm.comments_form.add_comment_captcha %}
                        <li>
                            <span class="siu_title"><strong><font color="red">*</font>Код подтверждения:</strong>Введите код с картинки, для проверки, что вы не робот.</span>
                            <span class="siu_data">{{ atm.comments_form.add_comment_captcha }}</span>
                        </li>
                    {% endif %}
                    <li class="margin" style="overflow:visible;">
                        <textarea {{ atm.editor_text | raw }} data-light="true" name="message" >{{ atm.comments_form.add_comment_message }}</textarea>
                    </li>
                    <li>
                        <a class="cancelReplyComment" onClick="cancelReplyComment()" style="padding-right: 10px; display: none">Отменить</a><input type="submit" name="send" value="Отправить" />
                    </li>
                </ul>
            </div>
        </form>
    </div>

{% else %}

    {% if atm.theme.closed != 1 %}
        {% if atm.user.id %}
            <div class="not-auth-mess access">{{ atm.__('Dont have permission to write post') }}</div>
        {% else %}
            <div class="not-auth-mess guest">{{ atm.__('Guests cant write posts')|format(atm.get_url('/users/add/'), atm.get_url('/users/login/'))|raw }}</div>
        {% endif %}
    {% endif %}

{% endif %}
