<div class="field">
    <label for="{{ field.title|escape }}">{{ field.title|escape }}</label>

    {# input text #}
    {% if field.input_type == '' %}

        <input
            id="{{ field.title|escape }}"
            placeholder="{{ field.title|escape }}"
            type="text"
            name="{{ field.name|escape }}"
            value="{{ field.value|escape }}"
        />

    {# textarea #}
    {% elseif field.input_type == 'textarea' %}

        <textarea
            id="{{ field.title|escape }}"
            placeholder="{{ field.title|escape }}" 
            name="{{ field.name|escape }}"
        >{{ field.value|escape }}</textarea>

    {# select #}
    {% elseif field.input_type == 'select' %}

        <select
            id="{{ field.title|escape }}"
            name="{{ field.name|escape }}"
        >
        {% if field.dataset is iterable %}
            {% for row in field.dataset %}
                <option value="{{ row.id|escape }}">{{ row.title|escape }}</option>
            {% endfor %}
        {% else %}
            <option value=""></option>
        {% endif %}
        </select>

    {% endif %}
</div>
