{% if atm.comments %}
<div class="material">
    <div class="inftitle">Комментарии</div>
    <div class="mat-content">
        <ul class="userlist">
            {% for comment in atm.comments %}
                <li class="comment_tree">
                    <div style="padding-left: {{ comment.lvl * 5 }}%">
                        <div class="userlistavatar">{{ comment.avatar | raw }}</div>
                            <div class="listuser">
                                <ul class="listuserbuttons">
                                    {% if atm.config(['comments_tree']) and atm.comments_form %}<a onClick="replyComment(this, {{ comment.id }}, '{{ comment.name }}');">Ответить</a>{% endif %}<li style="padding: 6px;" class="mod-panel">{% include "includes/moder_panel_comment.html.twig" %}</li>
                                    {% if comment.entry_url %}<li><a href="{{ comment.entry_url }}" class="button2">Перейти к материалу...</a></li>{% endif %}
                                </ul>
                                <h3 class="userlisttitle">{{ comment.name_a | raw }}</h3>
                                <div class="text">
                                    {{ comment.message | raw }}
                                </div>
                                <div>
                                    {% if comment.editdate %}<span><b>Комментарий был изменён:</b> {{ comment.editdate | adate }}</span>{% endif %}<span><b>Дата отправления:</b> {{ comment.date | adate }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}