{% extends "main.html.twig" %}

{% block content %}

{% if atm.entities %}
<div class="lineblock">
	  <div class="linetitle"><h1>Каталог файлов</h1></div>
	  <div class="linehead order"><div class="forstatus"></div><div class="forname">{{ atm.getOrderLink(['title','Название']) | raw }}</div><div class="forteme"><div><div class="mozilakostil">{{ atm.getOrderLink(['downloads','Скачивания']) | raw }} / {{ atm.getOrderLink(['views','Просмотры']) | raw }} / {{ atm.getOrderLink(['comments','Комментарии']) | raw }}</div></div></div><div class="fornewmess">{{ atm.getOrderLink(['date','Добавлено']) | raw }}</div></div>
	  {% for entity in atm.entities %}
	  <div class="linecontent"><div class="forstatus"><span><img src="{{ atm.template_path }}/img/load.png" alt=""/></span></div><div class="forname"><div class="mozilacostil"><div class="moderline">{% include "includes/moder_panel.html.twig" %}</div><div class="lineinfo"><a class="namefor" href="{{ entity.entry_url }}"><h2>{{ entity.title }}</h2></a><span class="button2" onclick="if($('#{{ entity.id }}').css('display') == 'none'){$('#{{ entity.id }}').show();}else{$('#{{ entity.id }}').hide();}">Подробнее</span><div class="fordescription hidden" id="{{ entity.id }}">{{ entity.announce | raw }}</div></div></div></div>
	  <div class="forteme">
		<ul>
			<li>Скачано: <strong>{{ entity.downloads }}</strong></li>
			<li>Просмотров: <strong>{{ entity.views }}</strong></li>
			<li>Комментариев: <strong>{{ entity.comments | raw }}</strong></li>
		</ul>
		</div>
	  <div class="fornewmess">{{ entity.date | adate }}<br />Добавил: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a><br />В раздел: {% for index, category in entity.categories %}{% if index > 0 %},{% endif %}<a href="{{ category.url }}">{{ category.title }}</a>{% endfor %}</div></div>
	  {% endfor %}
</div>
{% else %}
<div class="informs">
Каталог файлов пуст.
</div>
{% endif %}
{% endblock %}