{% extends "main.html.twig" %}

{% block content %}

<form name="editUserForm" id="sendForm" action="{{ atm.context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">

  <div class="material">
	  <div class="mat-title">Изменение профиля</div>
	  <div class="mat-content">
          <ul class="spisok-all">
		  <li>
            <span class="siu_title"><strong>Полное имя:</strong></span>
            <span class="siu_data"><input type="text" name="full_name" maxlength="255" value="{{ atm.context.full_name }}" /></span>
          </li>
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Адрес e-mail:</strong></span>
            <span class="siu_data"><input type="text" name="email" maxlength="60" value="{{ atm.context.email }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Текущий пароль:</strong>Вы должны указать ваш текущий пароль, <em>только</em> если хотите изменить его или поменять свой адрес e-mail.</span>
            <span class="siu_data"><input type="password" name="password" maxlength="64" value=""  /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Новый пароль:</strong>Указывайте пароль <em>только</em> если вы хотите его поменять.</span>
            <span class="siu_data"><input type="password" name="newpassword" maxlength="64" value=""  /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Подтвердите пароль:</strong>Только если вы указали новый пароль</span>
            <span class="siu_data"><input type="password" name="confirm" maxlength="64" value=""  /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Пол:</strong></span>
            <span class="siu_data">
			      Мужской<input type="radio" name="pol" value="1"{{ atm.context.mpol }} />
		          Женский<input type="radio" name="pol" value="2"{{ atm.context.fpol }} />
		    </span>
          </li>
		  <li>
            <span class="siu_title"><strong>Дата рождения:</strong>(день;месяц;год)</span>
            <span class="siu_data"> 
		                     <select name="bday">{{ atm.context.bday_selector | raw }}</select>
							 <select name="bmonth">{{ atm.context.bmonth_selector | raw }}</select>
							 <select name="byear">{{ atm.context.byears_selector | raw }}</select>        
			</span>
          </li>
		  <li>
            <span class="siu_title"><strong>Аватар:</strong>Показывает небольшое изображение рядом с вашими ответами, материалами и т.п</span>
            <span class="siu_data"><img title="{{ atm.context.name }}" class="avatar" border="0" src="{{ atm.context.avatar }}" alt=""><br/>{{ atm.context.unlinkfile }}<br/><input type="file" name="avatar"  /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Подпись:</strong>Показывается под вашими сообщениями</span>
            <span class="siu_data"><textarea name="signature" cols="30" rows="3" maxlength="1000" class="charcount">{{ atm.context.signature }}</textarea><br>
            <span class="signature charcount small"></span></span>
          </li>
		  <li>
            <span class="siu_title"><strong>О себе:</strong></span>
            <span class="siu_data"><textarea name="about" cols="30" rows="3" maxlength="500" class="charcount">{{ atm.context.about }}</textarea><br>
            <span class="about charcount small"></span></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Домашняя страничка:</strong> Ваш WEB-site или ссылка на вашу страницу в соц. сети</span>
            <span class="siu_data"><input type="text" name="url" maxlength="60" value="{{ atm.context.url }}"  /></span>
          </li>
          <li>
            <span class="siu_title"><strong>Jabber:</strong></span>
            <span class="siu_data"><input type="text" name="add_field_1" maxlength="100" value="{{ atm.context.add_field_1 }}" /></span>
          </li>
		  <li>
		  <input type="submit" name="submitForm" value="Сохранить" />
		  </li>
          
          </ul>
      </div>
</div>
</form>



{% endblock %}
