<form name="newPasswordForm" id="sendForm" action="{{ atm.context.action }}" method="POST" onsubmit="sendu(this); return false">
<div class="material">
	  <div class="mat-title">Восстановление пароля</div>
	  <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Имя(логин):</strong></span>
            <span class="siu_data"><input type="text" name="username" maxlength="30" value="" /></span>
          </li>
		  <li style="text-align: center;font-size: 25px;">ИЛИ</li>
		  <li>
            <span class="siu_title"><strong>Адрес e-mail:</strong></span>
            <span class="siu_data"><input type="text" name="email" maxlength="60" /></span>
          </li>
		  <li>
            <input type="submit" name="submitForm" value="Отправить" />
          </li>
		  </ul>
	  </div>
</div>
</form>
