{% extends "main.html.twig" %}

{% block content %}

<div class="material">
	  <div class="mat-title"><h1>Профиль пользователя - {{ atm.entity.name }}</h1></div>
	  <div class="mat-content">
	  <div class="userblock">
		  <ul class="userslinks">
		         <li class="active"><a href="{{ atm.www_root | raw }}/users/info/{{ atm.entity.id }}">Обзор Профиля</a></li>
				 {% if atm.entity.edit_profile_link %}				 
				 <li>{{ atm.entity.edit_profile_link | raw }}</li>
				 {% endif %}
				 {% if atm.user.id %}
					{% if atm.user.id == atm.entity.id %}
					<li><a href="{{ atm.www_root | raw }}/users/pm/">Личные сообщения</a></li>
					{% else %}
					<li><a href="{{ atm.www_root | raw }}/users/pm_view/{{ atm.entity.id }}">Отправить ЛС</a></li>
					{% endif %}
				 {% endif %}
				 {% if atm.entity.stat %}
				 <li class="category"><a>Публикации</a></li>
				 <li class="submenu">
				    {% for stat in atm.entity.stat %}
			          {% if stat.count %}
				         <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})</a>
			          {% endif %}
		            {% endfor %}
				 </li>
				 {% endif %}
		  </ul>
		  <div class="userinfo">
		      <div class="upuserinfo">
			         {% if atm.entity.rating %}
				        {% if atm.entity.rating >= 1 %}
				        	<div class="userReputation" style="background-color: #780;"><div class="Rep-number">{{ atm.entity.rating }}</div><div>Положительная</div></div>
					    {% else %}
					        <div class="userReputation" style="background-color: #C54C4C;"><div class="Rep-number">{{ atm.entity.rating }}</div><div>Отрицательная</div></div>
						{% endif %}
				     {% else %}
                            <div class="userReputation" style="background-color: #999;"><div class="Rep-number">{{ atm.entity.rating }}</div><div>Нейтральная</div></div>
                     {% endif %}
			      <div class="profileavatar"><img class="avatar"  title="{{ atm.entity.name }}" src="{{ atm.entity.avatar }}" alt=""/></div>
				  <div class="userinfocell">
				       <div class="nameuser">{{ atm.entity.name }}</div>
					   <div>Регистрация: {{ atm.entity.regdate | adate }}</div>
					   <div class="lastrun">{% if atm.checkUserOnline(atm.user.id) %}<img src="{{ atm.template_path }}/img/online.png" title="online" alt="online">{% else %}Последняя активность: {{ atm.entity.lastvisit | adate }}{% endif %}</div>
					   <div class="shkalakrut"><img border="0" src="{{ atm.entity.rank_img }}" alt="" /></div>
				  </div>
			  </div>
			  
			  <div class="bottomuserinfo">
								<div>Информация</div>
								<ul class="spisokinfouser">
								    {% if atm.entity.full_name %}
								    <li>
										<span class="siu_title">Полное имя:</span>
										<span class="siu_data">{{ atm.entity.full_name }}</span>
									</li>
									{% endif %}
									<li>
										<span class="siu_title">Группа:</span>
										<span class="siu_data">
										   <span>
										              {% if atm.checkAccess([atm.module,'edit_users']) %}
		                                                  {% if atm.user.id == atm.entity.id %}
                                                              {% if atm.entity.baned %}
                                                                    <s style="color:{{ atm.entity.group_color }}">{{ atm.entity.group }}</s>(Заблокирован до {{ atm.entity.baned }})
                                                              {% else %}
                                                                    <span style="color:{{ atm.entity.group_color }}">{{ atm.entity.group }}</span>
                                                              {% endif %}
		                                                  {% else %}
			                                                    <div class="group_edit">
				                                                  <form id="groupForm_{{ atm.entity.id }}">
					                                                <select name="group" onchange="document.getElementById('infomess_group_{{ atm.entity.id }}').innerHTML = ''">
                                                                  {% for group in atm.users_groups %}
                                                                      {% if group.id %}
                                                                           <option {% if atm.entity.status == group.id %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
                                                                      {% endif %}
                                                                  {% endfor %}
                                                                   </select>
                                                                      <input type="button" value="Изменить" onClick="setGroup({{ atm.entity.id }}, 'groupForm_{{ atm.entity.id }}');" />
                                                                      <div id="infomess_group_{{ atm.entity.id }}"></div>
                                                                      </form>
                                                                   </div>
                                                          {% endif %}
	                                                  {% else %}
		                                                  {% if atm.entity.baned %}
                                                                <s style="color:{{ atm.entity.group_color }}">{{ atm.entity.group }}</s>(Заблокирован до {{ atm.entity.baned }})
                                                          {% else %}
                                                                <span style="color:{{ atm.entity.group_color }}">{{ atm.entity.group }}</span>
                                                          {% endif %}
	                                                  {% endif %}
									      </span>
									</span>
									</li>
									<li>
										<span class="siu_title">Репутация:</span>
										<span class="siu_data"><a href="#" onClick="atmWndData('ratingHistory_{{ atm.entity.id }}', 'История рейтинга ({{ atm.entity.name }})', {type: 'url', source: '{{ atm.www_root | raw }}/users/votes_story/{{ atm.entity.id }}'});">{{ atm.entity.rating }}</a>
                                                                             {% if atm.checkAccess([atm.module,'set_rating']) and atm.user.id != atm.entity.id %}<a href="#" onClick="$('#setRating_{{ atm.entity.id }}').show();">-&nbsp;/&nbsp;+</a></a>{% endif %}
										</span>
									</li>
									 {% if user.rank %}
									<li>
										<span class="siu_title">Статус:</span>
										<span class="siu_data">{{ user.rank }}</span>
									</li>
									 {% else %}
									<li>
										<span class="siu_title">Ранг:</span>
										<span class="siu_data">{{ atm.getUserRatingText(atm.user.posts) }}</span>
									</li>
									 {% endif %}
									<li>
										<span class="siu_title">Предупреждения:</span>
										<span class="siu_data"><a href="javascript:void(0)" onClick="atmWndData('warningsHistory_{{ atm.entity.id }}', 'История предупреждений ({{ atm.entity.name }})', {type: 'url', source: '{{ atm.www_root | raw }}/users/warnings_story/{{ atm.entity.id }}'});">{{ atm.entity.warnings }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                             {% if atm.checkAccess([atm.module,'users_warnings']) and atm.user.id != atm.entity.id %}<a href="javascript:void(0)" onClick="$('#addWarning_{{ atm.entity.id }}').show();">-&nbsp;/&nbsp;+</a>{% endif %}
										</span>
									</li>
									<li>
										<span class="siu_title">Сообщений на форуме:</span>
										<span class="siu_data">{{ atm.entity.posts }}</span>
									</li>
									{% if atm.entity.age %}
									<li>
										<span class="siu_title">Возраст:</span>
										<span class="siu_data"> {{ atm.entity.age }} </span>	
									</li>
									<li>
										<span class="siu_title">Дата рождения:</span>
										<span class="siu_data">{{ (atm.user.byear ~ '-' ~ atm.entity.bmonth ~ '-' ~ atm.entity.bday) | adate('j F Y') }}</span>
									</li>
									{% endif %}
 									{% if atm.entity.url %}
									<li>
										<span class="siu_title">Сайт:</span>
                                        <span class="siu_data">{{ atm.entity.url }}</span>
									</li>
									{% endif %}
                                    <li>
										<span class="siu_title">Пол:</span>
                                        <span class="siu_data">{% if atm.entity.pol %} {{ atm.entity.pol }} {% else %} Не указан {% endif %}</span>
									</li>
									{% if atm.entity.add_field_1 %}
									<li>
										<span class="siu_title">Jabber:</span>
                                        <span class="siu_data">{{ atm.entity.add_field_1 }}</span>
									</li>
									{% endif %}
									{% if atm.entity.lastpost %}
									<li>
										<span class="siu_title">Последнее сообщение:</span>
                                        <span class="siu_data">{{ atm.entity.lastpost | adate }}</span>
									</li>
									{% endif %}
									{% if atm.entity.about %}
									<li>
										<span class="siu_title">Интересы:</span>
                                        <span class="siu_data">{{ atm.entity.about }}</span>
									</li>
									{% endif %}
									{% if atm.entity.signature %}
									<li>
										<span class="siu_title">Подпись:</span>
                                        <span class="siu_data">{{ atm.entity.signature }}</span>
									</li>
									{% endif %}
								</ul>
			  </div>
		 </div>  
	  </div>
	  </div>
	  </div>
	
<style>
#setRating_{{ atm.entity.id }} {}
#addWarning_{{ atm.entity.id }} {}
#infomess_{{ atm.entity.id }}, #winfomess_{{ atm.entity.id }} {margin-top: 5px;text-align: center;}
#ratingForm_{{ atm.entity.id }} {}
#warningForm_{{ atm.entity.id }} {}
</style>	
{% if atm.checkAccess(['users','set_rating']) and atm.user.id != atm.entity.id %}
<div id="setRating_{{ atm.entity.id }}" class="atm-fwin" style="display:none;">
<div class="drag_window">
    <div class="atm-title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ atm.entity.name }}</b></div>
    <div onClick="$('#setRating_{{ atm.entity.id }}').hide()" class="atm-close"></div>
    <div class="atm-cont">
        <form id="ratingForm_{{ atm.entity.id }}">
            <input type="radio" name="points" value="1" /><b>&nbsp;1</b><br />
            <input type="radio" name="points" value="0" /><b>&nbsp;0</b><br />
            <input type="radio" name="points" value="-1" /><b>-1</b><br />
            <textarea name="comment"></textarea><br />
            <input type="button" value="Отправить" onClick="setRating({{ atm.entity.id }}, 'ratingForm_{{ atm.entity.id }}');" />
        </form>
        <div id="infomess_{{ atm.entity.id }}"></div>
    </div>
</div>
</div>
{% endif %}

{% if atm.checkAccess(['users','users_warnings']) and atm.user.id != atm.entity.id %}
<div id="addWarning_{{ atm.entity.id }}" class="atm-fwin" style="display:none;">
    <div class="drag_window">
        <div class="atm-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ atm.entity.name }}</b></div>
        <div onClick="$('#addWarning_{{ atm.entity.id }}').hide()" class="atm-close"></div>
        <div class="atm-cont">
            <form id="warningForm_{{ atm.entity.id }}">
                <fieldset>
                    <legend><b>Действие</b></legend>
                    <input type="radio" name="points" value="1">[+]Повысить уровень замечаний<br />
                    <input type="radio" name="points" value="-1">[-]Понизить уровень замечаний(снять бан)<br />
                </fieldset>
                <fieldset>
                    <legend><b>Причина</b></legend>
                    <textarea style="width:96%;" name="cause"></textarea>
                </fieldset>
                <fieldset>
                    <legend><b>Бан</b></legend>
                    <input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
                    <select style="width:80px;margin:2px;" name="mult">
                        <option value="h">Часа</option>
                        <option value="d">Дней</option>
                        <option value="w">Недель</option>
                        <option value="m">Месяцев</option>
                        <option value="y">Лет</option>
                    </select>
					<br/>
                    <input type="checkbox" name="permanently" value="1" />Навсегда
                </fieldset>
                <fieldset>
                    <legend><b>Уведомление</b></legend>
                    <input type="checkbox" name="noticepm" value="1" />Личные сообщения
                </fieldset>
                <fieldset>
                    <input type="button" value="Отправить" onClick="addWarning_({{ atm.entity.id }}, 'warningForm_{{ atm.entity.id }}');" />
                </fieldset>
            </form>
            <div id="winfomess_{{ atm.entity.id }}"></div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}