{% extends "main.html.twig" %}

{% block content %}

<div class="material">
	  <div class="mat-title">Правила регистрации</div>
	  <div class="mat-content">
          <ul class="spisok-all">
          <li class="margin">
            {{ atm.context.rules | raw }}
          </li>
		  <li>
		  <a class="button" href="{{ atm.context.reg_url }}">Я согласен</a>
		  </li>
          </ul>
      </div>
</div>
{% endblock %}