<form action="{{ atm.form.context.action }}" method="GET">
<div class="material">
    <div class="inftitle">Поиск по материалам</div>
    <div class="infcont">
		{% if atm.form.modules %}
        <input type="text" value="{{ atm.form.context.search }}" name="q" style="width:82%;" />
        <button type="submit">Искать</button>
        <br /><br />
        <b>Искать в:</b>
        <br />
		{% for search_module in atm.form.modules %}
        {% if atm.config([search_module,'active']) %}
        <input id="smd{{ search_module }}" type="checkbox" value="{{ search_module }}" name="m[]" {{ atm.form.context[search_module] }}>
        <label for="smd{{ search_module }}">{{ atm.__(search_module,false,search_module) }}</label><br />
        {% endif %}
		{% endfor %}
		{% else %}
		В активных модулях нет материалов, доступных для поиска.
		{% endif %}
    </div>
</div>
</form>

