<link type="text/css" href="{{ atm.template_path }}/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="{{ atm.template_path }}/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{{ atm.template_path }}/js/jquery.jscrollpane.min.js"></script>
<link type="text/css" href="{{ atm.template_path }}/css/chat.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="{{ atm.template_path }}/js/chat.js"></script>

<div class="scrollBox">
    <div id="chat">
    </div>
</div>