{% if atm.entity %}
{% set entity = atm.entity %}
{% endif %}{% set premoder = entity.premoder | lower %}
{# Является ли пользователь автором материала #}
{% if atm.user.id != 0 and atm.user.id == entity.author_id %}
    {% set is_owner = 1 %}
{% else %}
    {% set is_owner = 0 %}
{% endif %}
{# Модуль, с которым работаем. Условие для возможности вывода на главной странице #}
{% if entity.module_name %}
    {% set this_module = entity.module_name %}
{% else %}
    {% set this_module = atm.module %}
{% endif %}

{# Премодерация материала #}
{% if atm.checkAccess(['__other__', 'can_premoder']) and (premoder=='nochecked' or premoder=='rejected') %}
    <a class="atm-premoder-confirm moder-confirm" title="{{ atm.__('Confirm') }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}'))" href="{{ atm.www_root | raw }}/{{ this_module }}/premoder/{{ entity.id }}/confirmed/"></a>
    {% if premoder=='nochecked' %}
        <a class="atm-premoder-reject moder-reject" title="{{ atm.__('Reject') }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}'))" href="{{ atm.www_root | raw }}/{{ this_module }}/premoder/{{ entity.id }}/rejected/"></a>
    {% endif %}
{% endif %}

{# Редактирование #}
{% if atm.checkAccess([this_module, 'edit_materials']) or (is_owner and atm.checkAccess([this_module, 'edit_mine_materials'])) %}
    <a class="atm-edit moder-edit" href="{{ atm.www_root | raw }}/{{ this_module }}/edit/{{ entity.id }}"></a>
{% endif %}

{# Закрепить в топе или разово вывести в топ #}
{% if atm.checkAccess([this_module, 'up_materials']) %}
    <a id="atmms{{ entity.id }}" class="atm-star moder-star" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmms{{ entity.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ this_module }}/fix_on_top/{{ entity.id }}"></a>
    <a id="atmmu{{ entity.id }}" class="atm-up moder-up" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmmu{{ entity.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ this_module }}/upper/{{ entity.id }}"></a>
{% endif %}

{# Показ на главной странице #}
{% if atm.checkAccess([this_module, 'on_home']) %}
    {% if entity.view_on_home == 1 %}
        <a id="atmmo{{ entity.id }}" class="atm-on moder-on" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmmo{{ entity.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ this_module }}/off_home/{{ entity.id }}"></a>
    {% else %}
        <a id="atmmo{{ entity.id }}" class="atm-off moder-off" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmmo{{ entity.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ this_module }}/on_home/{{ entity.id }}"></a>
    {% endif %}
{% endif %}

{# Удаление #}
{% if atm.checkAccess([this_module, 'delete_materials']) or (is_owner and atm.checkAccess([this_module, 'delete_mine_materials'])) %}
    <a id="atmmd{{ entity.id }}" class="atm-delete moder-delete" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('atmmd{{ entity.id }}')}; return false" href="{{ atm.www_root | raw }}/{{ this_module }}/delete/{{ entity.id }}"></a>
{% endif %}