{% extends "main.html.twig" %}

{% block content %}

{{ atm.editor_body | raw }}
{{ script_gentags }}
<script type="text/javascript">
maxAttachedFiles = {{ atm.context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ atm.context.action }}" method="POST" enctype="multipart/form-data" onsubmit="{{ default_start_gentags }}sendu('sendForm'); return false">
<div class="material">
	  <div class="mat-title">Добавление новости</div>
	  <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Категория:</strong></span>
            {% if atm.config(['use_multicategories']) %}
                <span class="siu_data"><select name="cats_selector[]" multiple>{{ atm.context.cats_selector | raw }}</select></span>
            {% else %}
                <span class="siu_data"><select name="cats_selector">{{ atm.context.cats_selector | raw }}</select></span>
            {% endif %}
          </li>
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>Заголовок новости:</strong></span>
            <span class="siu_data"><input type="text" name="title" maxlength="128" value="{{ atm.context.title }}"></span>
          </li>
		  <li class="margin">
            <textarea {{ atm.editor_text | raw }} class="text-area" name="mainText">{{ atm.context.main_text }}</textarea>
          </li>
          {% if atm.checkAccess([atm.module,'upload_files']) and atm.context.locked_attaches == 0 %}
		  <li>
            <span class="siu_title"><strong>Прикрепления:</strong></span>
            <span class="siu_data" id="attachments">
                <input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
                <input type="button" name="addInput" value="Прикрепить еще файл" onclick="addFileField('attachments');">
		   </span>
          </li>
          {% endif %}
		  <li>
            <span class="siu_title"><strong>Дополнительные настройки:</strong></span>
            <span class="siu_data"><input type="checkbox" onClick="metaTags(this);" /></span>
          </li>
		  <li id="meta" style="display:none;">
            <span class="siu_title"><strong>Meta description:</strong>Нужно для более быстрой индексации поисковыми роботами</span>
            <span class="siu_data"><textarea name="description">{{ atm.context.description }}</textarea></span>
          </li>
		  <li id="tags" style="display:none;">
            <span class="siu_title"><strong>Теги:</strong>Слова по которым будет искаться материал</span>
            <span class="siu_data"><input {{ input_gentags }} size="70" type="text" name="tags" value="{{ atm.context.tags }}" />{{ button_gentags }}</span>
			{{ forms_gentags }}
          </li>
		  <li id="sourse" style="display:none;">
            <span class="siu_title"><strong>Источник:</strong>Настоящий автор новости</span>
            <span class="siu_data"><input size="70" type="text" name="sourse" value="{{ atm.context.sourse }}" /></span>
          </li>
		  {% if atm.checkAccess([atm.module,'record_comments_management']) %}
		  <li>
            <span class="siu_title"><strong>Разрешить комментирование?:</strong></span>
            <span class="siu_data"><input type="checkbox" name="commented" value="1" {{ atm.context.commented }} /></span>
          </li>
		  {% endif %}
		  {% if atm.checkAccess([atm.module,'hide_material']) %}
		  <li>
            <span class="siu_title"><strong>Доступен для просмотра:</strong></span>
            <span class="siu_data"><input type="checkbox" name="available" value="1" {{ atm.context.available }} /></span>
          </li>
		  {% endif %}
		  <li>
            <input type="submit" name="submitForm" value="Отправить" />
          </li>
		  </ul>
	  </div>
</div>
</form>

{% endblock %}