<!DOCTYPE html>
<html>
    <head>
        <title>Atom-M CMS - вместе в будущее</title>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link type="text/css" rel="StyleSheet" href="template/css/style.css" />
        <script language="JavaScript" type="text/javascript" src="../data/js/jquery.js"></script>
    </head>
    <body>
        <div id="head">
            <ul id="progressbar"></ul>
        </div>
        <div id="container">
            {% block container %}{% endblock %}
        </div>
        <div id="footer">
            <div style="float:left;">
                <a href="https://atom-m.modos189.ru/">Официальный сайт</a>
                <a href="https://bitbucket.org/atom-m/cms/wiki/Home">WIKI</a>
            </div>
            <div style="clear:both;"></div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>